.section-title {
	position: relative;
	margin: 0;
	margin-bottom: 60px;
	line-height: .8;
	font-size: 70px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}

.section-title.align-left {
    text-align: left;
}

.section-title .stroke {
	color: transparent;
	-webkit-text-stroke: 1px var(--accent-color);
}

@media (max-width: 1024px) {
	.section-title {
		font-size: 36px;
		margin-bottom: 32px;
	}
}
