.about__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 100px;
}

.about .section-title {
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .about__content {
    padding-top: 60px;
  }
}